<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Buy More?</th>
      <th>Pantry Item?</th>
      <th>Shop</th>
      <th>Shop Location</th>
      <th>House Location</th>
      <th>Controls</th>
    </tr>
  </thead>
  <tbody>
    <%= render @groceries %>
  </tbody>
</table>
